on: [push]

name: Azure Deployment

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    # checkout the repo
    - name: 'Checkout Github Action'
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: "{{defaultContext}}:app"
        push: true
        tags: schuerstedt/azuregithubdemo:${{ github.run_number }}/${{ github.run_attempt }}

    - uses: azure/webapps-deploy@v2
      with:
        app-name: 'devops131022'
        publish-profile: ${{ secrets.azureWebAppPublishProfile }}
        images: 'schuerstedt/azuregithubdemo:${{ github.run_number }}/${{ github.run_attempt }}'